[2013-12-12 09:23] andrewvmail opened #1 "Google Analytics"
Just wondering where would I integrate Google Analytics event code on a webviewfragment system. To track page view?

THANKS!

[2014-10-01 06:02] fofri opened #2 "로딩완료후 화면이 깜빡거림"
로딩중에는 아래 리프레쉬 가 돌다가 멈추고 나면 화면이 깜빡 거립니다.  원인이 뭘까요?

안드로이드 공부하고 있는데  공부많이 했습니다. 감사합니다.

[2015-11-29 14:58] adnbsr commented on #1
If you want to track events inside FinestWebViewActivity, you should customize from source code.

[2015-11-30 04:43] TheFinestArtist commented on #1
@adnbsr Thanks for your answer. @andrewvmail I would recommend you to fork the project and customize it. Probably [onClick() method](https://github.com/TheFinestArtist/FinestWebView-Android/blob/master/library/src/main/java/com/thefinestartist/finestwebview/FinestWebViewActivity.java#L542) is right place to start :)

[2015-11-30 04:43] #1 closed

[2015-11-30 04:46] TheFinestArtist commented on #2
@fofri 음...제가 라이브러리를 업데이트를 했는데 많이 바꿨습니다.

아마 화면이 깜빡거리는건 다양한 원인이 있을수 있는거 같은데, Google Chrome이나 다른 웹 어플에서도 같은 웹사이트 로딩시 깜빡거린다면 사이트 자체의 문제일수도 있는것이구.. 해당 웹사이트 url, device Android 버젼, device 정보 등등 주시면 확인해 보겠습니다!

[2015-11-30 04:46] #2 closed

[2015-12-02 00:26] crysan opened #3 "Cannot resolve symbol Builder"
Hi!

I use in the fragment:
new FinestWebViewActivity.Builder(getActivity()).show(author.getUrl_base());

error:
Cannot resolve symbol Builder

[2015-12-02 00:46] TheFinestArtist commented on #3
Hello, @crysan you have to use FinestWebView.Builder() instead FinestWebViewActivity.Builder()

[2015-12-02 00:48] TheFinestArtist commented on #3
Updated README 71c251c53fba6f8edb351e60f0d472bc727a674d

[2015-12-02 00:54] crysan commented on #3
And!
How to apply:
overridePendingTransition(R.anim.modal_activity_open_enter, R.anim.modal_activity_open_exit);

cannot resolve method 'overridePendingTransition'

[2015-12-02 06:55] TheFinestArtist commented on #3
@crysan Thanks for your suggestion, I was actually made this method `overridePendingTransition` or 'setTransition` with all 4 animation. But I found I need current activity to call overridePendingTransition method.

So there is pros & cons.
If you add `overridePendingTransition` new method, I have to get current activity not context.
If I don't then developer has to call `overridePendingTransition

[2015-12-02 07:00] TheFinestArtist commented on #3
@crysan Which way do you prefer?

1 Current Version

[code]

2 Your Suggestion (Get activity first time)

[code]

3 Your Suggestion (Get context first time and add activity for animation call)

[code]

[2015-12-02 07:16] crysan commented on #3
Option 2 is better.

However, I was not talking about it.
When you add a line:
overridePendingTransition (R.anim.modal_activity_open_enter, R.anim.modal_activity_open_exit);
system says:
can not resolve method 'overridePendingTransition'

Those.  there is no such method.

[2015-12-02 07:21] TheFinestArtist commented on #3
@crysan You have to use this `overridePendingTransition` method in your activity.

[2015-12-02 07:21] TheFinestArtist commented on #3
@crysan http://developer.android.com/reference/android/app/Activity.html#overridePendingTransition(int, int)

[2015-12-02 07:24] crysan commented on #3
Stop.Stop.Stop.
http://firepic.org/images/2015-12/02/vui5k2v1kv8z.png

[2015-12-02 07:27] TheFinestArtist commented on #3
@crysan Change your method to get Activity instead of Context. And call overridePendingTransition from your activity object.

[code]

And you don't have to call `overridePendingTransition` if you don't want any animation!

I really should change this API. I think `overridePendingTransition` is confusing.
`new FinestWebView(Activity).setCustomAnimations(int anim, int anim, int anim, int anim).show(

[2015-12-02 07:30] crysan commented on #3
Good! Ty!

[2015-12-02 07:31] TheFinestArtist commented on #3
@crysan Welcome :)

[2015-12-02 07:31] crysan commented on #3
And waiting version
compile 'com.thefinestartist:finestwebview:1.0.1'

[2015-12-02 07:32] TheFinestArtist commented on #3
Yeah, it will be 1.0.1

I will let you know if I'm done. I'm still choosing which way looks better.

[2015-12-02 07:32] crysan commented on #3
Ok

[2015-12-02 09:44] TheFinestArtist commented on #3
@crysan Released new version [1.0.2](https://github.com/TheFinestArtist/FinestWebView-Android/releases/tag/1.0.2)

[2015-12-02 09:46] #3 closed

[2015-12-07 16:41] andanicalik opened #4 "Open PDF File"
Hi. I want to open pdf file link but it show blank page ? What should I do ?

[2015-12-07 19:32] TheFinestArtist commented on #4
@andanicalik I think it should work if you open the pdf file in google docs. [Link](http://kylewbanks.com/blog/Loading-PDF-in-Android-WebView)

Unfortunately, FinestWebView is wrapped with ScrollView which causes the webview to show little strange.

I will let you know if I figure out this problem. Let me know if you have any ideas.

[2015-12-16 13:58] MohMah opened #5 "showUrl(false) not working"
Hi, thanks for the awesome library!
after calling .showUrl(false) it still shows the url below the title.
and another thing that I wanted to have was that when using this with a Rtl language, dropdown menu items have left gravity and I think it would be great if you implement this into the builder to set the items gravity so it will work with Rtl languages.

[2015-12-17 06:02] TheFinestArtist commented on #5
@MohMah Thank you for your report and suggestion. I will fix this issue ASAP.
1. `.showUrl(false)` not working.
2. dropdown menu gravity.

[2015-12-17 08:48] TheFinestArtist commented on #5
@MohMah
Just released `1.0.7` 4a106e6b0f93a78db70e1685f4bb691e2872058b.

Fixed `showUrl()` and added more options `menuTextGravity()`, `menuTextPaddingLeft()`, `menuTextPaddingRight ()`.

You might wanted to use just `rtl(true)` which will automatically reorder views from right to left. If the application supports rtl in manifest, you don't have to set rtl true in the builder.

[2015-12-17 08:48] #5 closed

[2015-12-17 08:50] TheFinestArtist opened #6 "Request from Nj"
But if you get time can you also give the option of FAB with speed dial.

refresh (@)

   copy ( # )

    Fab (  +  )

I don't know whether it will look good or not! but you never know

[2015-12-17 21:04] MohMah commented on #5
awesome, thanks! works like a charm

[2015-12-18 12:27] fncapps opened #8 "WebView onPageFinished"
Hi, it would be useful if you could directly add code from the builder to the onPageFinished method of the webView. In my case I would need to inject some javascript and that way it would be really easy.

Thanks for the library man

[2015-12-18 17:54] TheFinestArtist commented on #8
@fncapps Got it! I will find out which way is best to send callback from on activity to other!

[2015-12-19 16:15] fncapps commented on #8
Great! I also made a pull request, nothing big, just translation

[2015-12-20 05:25] TheFinestArtist commented on #8
@fncapps I just seen it! You can actually use `stringResRefresh` `stringResShareVia` etc for translation!

[2015-12-20 05:36] TheFinestArtist commented on #8
@fncapps Can you tell me what kind of javascript you want inject? or Can you give me some code samples? I don't really know where to start..

[2015-12-20 05:53] TheFinestArtist commented on #8
@fncapps I think I did it, but I don't know whether I named the method properly or whether this is what you are looking for! Added 'injectJavaScript(String javaScript)` method.

[2015-12-20 05:53] #8 closed

[2015-12-20 07:38] fncapps commented on #8
I've taken a look to the code, that should work! Thanks!

[2015-12-20 19:29] TheFinestArtist commented on #8
@fncapps If you need some changes, please let me know or give me any pull request!

[2015-12-22 09:59] prashantwosti opened #9 "open html file"
Does it support html file rendering? If yes how?

[2015-12-22 16:39] prashantwosti commented on #9
never mind. I modified the library. :)

[2015-12-27 12:15] parmindersingh1 opened #11 "how can i directly open my web pages without cross button on tab bar"
i want to open my website in webview, how can i use finestwebview to open my website directly, and without cross button on title bar (which take me back to main activity layout)

[2015-12-28 04:48] TheFinestArtist commented on #11
@parmindersingh1 Ah-ha! What you are saying is you want the method to remove close button on the top bar?

[2015-12-28 05:05] parmindersingh1 commented on #11
yes, I want to open directly my website in webview, Now it is opening as second activity

[2015-12-28 05:29] TheFinestArtist commented on #11
@parmindersingh1 Can you explain more about your suggestion? I don't think I understand it throughly. So, you want to open a webpage without any new activity creation right? Maybe you want me to make the webview using Fragment not Activity?

[2015-12-28 05:59] parmindersingh1 commented on #11
actually i am learning android, that's why i cannot tell you more technically, Actually now when i open app i go to mainactivity which open finestviewactivity on event like click, if i directly want to open in finestviewactivity webview (my website), if i dont set setContentView(R.layout.main) in oncreate of main activity and call finest webview like this new FinestWebView.Builder(this).......  No

[2015-12-28 06:05] TheFinestArtist commented on #11
@parmindersingh1 Ah~ you are making your own website as an app right? I've done that before (https://github.com/TheFinestArtist/TheFinestArtist-Android) haha. Anyway, you need to open TheFinestWebview as your launching Activity and there is no way to do this right?

[2015-12-28 06:09] TheFinestArtist commented on #11
@parmindersingh1 Here is what I would like to do to solve your problem. I will make more method such as
1. Hide each toolbar button
2. Disable each toolbar button

What you can do is
1. Launch empty activity which calls `TheFinestWebview` such as you did right now.
2. Remove empty activity from the stack
3. Choose 3-a or 3-b
3-a. Hide cross button
3-b. Disable cross button and change icon of cross

[2015-12-28 06:11] parmindersingh1 commented on #11
ok thank you for your support

[2015-12-28 06:12] TheFinestArtist commented on #11
1. Remove empty activity from the stack

Use `android:noHistory="true"` option in your `Manifest.xml`.

[code]

[2015-12-28 06:26] parmindersingh1 commented on #11
thank you sir

[2015-12-28 06:29] #11 closed

[2015-12-28 07:16] TheFinestArtist commented on #11
@parmindersingh1 I just updated `FinestWebView` with version `1.1.0`. There is new options such as

[code]

You can use `showIconClose(false)` or `disableIconClose(false)`!

[2015-12-28 07:18] TheFinestArtist opened #12 "MyWebViewClient's callback onPageFinished not called"

[2015-12-30 05:26] parmindersingh1 opened #13 "How to add splash Screen"
hello sir,
I saw no option to add splash screen while webview load, how can i add splash screen

[2015-12-30 11:32] TheFinestArtist commented on #13
@parmindersingh1 I will definitely add this feature!

[2015-12-30 13:08] TheFinestArtist commented on #13
Hello @parmindersingh1, it would be great if you show me some design or concept of your splash page!

[2015-12-31 08:34] parmindersingh1 commented on #13
I didnt created any splash screen, i ant splash screen lile this in link
http://www.androidhive.info/2013/07/how-to-implement-android-splash-screen-2/

[2016-01-01 00:57] parmindersingh1 opened #14 "web view height issue"
There is a problem which happening to me is webpage is opened with lot of empty space below footer, this is not issue with website because i tested it on multiple sites same issue here is screenshot

![screenshot_2016-01-01-06-21-53](https://cloud.githubusercontent.com/assets/3261782/12069352/92fd8fde-b050-11e5-9810-34983d980ded.png)

there is more white space below the screenshot .
Same issue wit

[2016-01-01 17:53] avsector commented on #14
Experiencing the same issue.
When going to a website with less height, the content is filled in the container with more height, causing a blank space as the footer.

The height of WebView grows indefinitely if it is a child of nestedscrollview.
Seems like a regression in 23.1.1 support library. It was fixed in 22.2.1.

[2016-01-07 08:23] Muneefm opened #15 "File uploading in kitkat (4.4) is not supported."
file uploading in kitkat 4.4 is not supported. this issue is there in original webview of android.  if you could find a way in your library then it will be great.

[2016-01-09 11:42] skram opened #16 "Cookie persistense"
Thought I'd give this library a try, but for what I need it for, making requests via http POST/GET and opening a Browser with same cookies does not work. There should be a way to alter the cookie manager

[2016-01-09 21:08] mehmetakiftutuncu opened #18 "Alert Dialogs Crash Because WebView Uses Application Context Instead of Activity Context"
As explained in the title, when the page tries to create an AlertDialog as a selector when you click on a select element on the page, the application crashes. I did some digging and it is because at this line https://github.com/TheFinestArtist/FinestWebView-Android/blob/master/library/src/main/java/com/thefinestartist/finestwebview/FinestWebViewActivity.java#L406 you are using ```getApplicationCon

[2016-01-10 21:32] daimonkor opened #19 "Check com.nineoldandroids:library:2.4.0+"
Please help,

Error:A problem occurred configuring project ':app'.

     Searched in the following locations:
         https://jcenter.bintray.com/com/nineoldandroids/library/maven-metadata.xml
         https://jcenter.bintray.com/com/nineoldandroids/library/
         http://dl.bintray.com/icebergteam/maven/com/nineoldandroids/library/maven-metadata.xml
         http://dl.bintray.com/icebergteam/m

[2016-01-10 23:02] skram commented on #19
Remove the + at the end of 'com.nineoldandroids:library:2.4.0+', change it to 'com.nineoldandroids:library:2.4.0'. That fixed it for me.

[2016-01-11 00:00] daimonkor commented on #19
Hm, but I use library as maven artifact  (compile at gradle), please fix

[2016-01-11 05:11] Svenvollfied25 commented on #19
Removing the + from the end didn't helped me. Please fix this problem.

[2016-01-11 05:13] skram commented on #19
@daimonkor Anyone with a tutorial on compiling this as a Library to be imported manually to an Android Studio Project? I'd like to make some changes and import it that way.

[2016-01-11 05:39] Svenvollfied25 commented on #19
@skram Try this method.. I have tried it

http://stackoverflow.com/questions/27910140/how-to-compile-forked-library-in-gradle

[2016-01-11 06:32] TheFinestArtist commented on #9
@prashantwosti Can you tell me how you modified the library? I want to add this feature!

[2016-01-11 06:33] TheFinestArtist commented on #19
Fixed this issue and released new version [1.1.2](https://github.com/TheFinestArtist/FinestWebView-Android/releases/tag/1.1.2)

[2016-01-11 06:33] #19 closed

[2016-01-11 06:33] TheFinestArtist commented on #18
Fixed this issue and released new version [1.1.2](https://github.com/TheFinestArtist/FinestWebView-Android/releases/tag/1.1.2)

[2016-01-11 06:33] #18 closed

[2016-01-12 02:12] daimonkor opened #20 "Add constructor with context at Builder class"
I use global context (for get resources, drawable), please add constructor with Context param. Thanks.

[2016-01-12 11:30] TheFinestArtist commented on #20
@daimonkor I can add this easily but If you add context then, the activity animation won't work!

[2016-01-12 11:32] TheFinestArtist commented on #20
Look at this line: https://github.com/TheFinestArtist/FinestWebView-Android/blob/master/library/src/main/java/com/thefinestartist/finestwebview/FinestWebView.java#L851

If you still want to use `FinestWebView` without activity animation, I will add this feature!

[2016-01-12 12:31] daimonkor commented on #20
I want use FinestWebView only as activity without animation). Your builder needed activity, but I see params with function from context, so I think that you can see replace activity to context and check instance of Activity class at show function.

[2016-01-13 05:22] prashantwosti commented on #9
@TheFinestArtist
1: FinestWebview.java : Since webview can load Url or Data at one time, I then created a separate method to pass html data.

[code]

2: FinestWebViewActivity.java:

[code]

Done.

I can send a pull request if you like. :)

[2016-01-19 12:11] taimur97 opened #21 "Set Download Listener"
How can I set download listener?
I want to listen for all the incoming downloads and start download in another activity by sending the url

[2016-01-22 10:40] daimonkor commented on #20
Have you news about it?

[2016-01-25 13:37] zunjae opened #22 "If it is possible, please add an url listener"
Using default WebView you can do this:

    mWebView.setWebViewClient(new WebViewClient() {

       public void onPageFinished(WebView view, String url) {
            // do your stuff here
        }
    });

Can you also implement this in FinestWebView if it's possible?

[2016-01-26 15:14] TheFinestArtist commented on #22
@zunjae Added webview listeners
https://github.com/TheFinestArtist/FinestWebView-Android#webview-listeners

[2016-01-26 15:14] #22 closed

[2016-01-26 15:15] TheFinestArtist commented on #21
@taimur97 Can you tell me how can I know whether the `WebView` is downloading something?

[2016-01-26 15:16] TheFinestArtist commented on #20
@daimonkor Wait for a second I will add this!

[2016-01-26 15:28] TheFinestArtist commented on #20
@daimonkor Updated!

[2016-01-26 15:28] #20 closed

[2016-01-26 15:50] TheFinestArtist commented on #14
@parmindersingh1 @mblcdr I think I fixed just by setting the minimum height of `WebViewLayout`.
But, I don't have way to make this bug again.

[2016-01-26 15:53] #14 closed

[2016-01-26 15:54] TheFinestArtist commented on #14
@parmindersingh1 @mblcdr Released 1.1.5 and let me know if you guys have same problem!

[2016-01-26 15:54] TheFinestArtist commented on #12
Added webview listener.

[2016-01-26 15:54] #12 closed

[2016-01-26 15:56] TheFinestArtist commented on #9
@prashantwosti AWESOME! I'm adding this methods in library!

[2016-01-26 15:56] #9 closed

[2016-01-26 16:12] TheFinestArtist commented on #16
@skram Thanks for reporting an issue. But..I can't really understand your meaning. Can you give me more detailed explanations?

[2016-01-26 16:15] TheFinestArtist commented on #15
@Muneefm There is nice article about kitkat file uploads. http://www.lightning-ashe.com/develop/webview-file-upload-over-kitkat/

[2016-01-26 16:16] TheFinestArtist commented on #15
@Muneefm I don't have much idea about integrating file uploading features in my library. Can you give me some idea how I can integrate this feature? Thanks

[2016-01-26 16:17] skram commented on #16
@TheFinestArtist For instance, I login to a site and or Add something to a Shopping Cart via HTTP POST. Then Open an instance of FinestWebView it should show that Im logged in, and or have something in my shopping cart. Get it? So any Cookies and or Caches from HTTP requests done outside of FinestWebView should reflect in it.

[2016-01-26 19:13] avsector commented on #14
Will do as soon as I get the chance.

[2016-01-27 01:22] TheFinestArtist commented on #13
@parmindersingh1 There is nice article about creation splash screen in Android.
http://www.androidhive.info/2013/07/how-to-implement-android-splash-screen-2/
https://www.bignerdranch.com/blog/splash-screens-the-right-way/

From Splash Screen, you can call FinestWebView as next Activity

[2016-01-27 01:22] #13 closed

[2016-01-27 01:23] #6 closed

[2016-01-27 10:17] daimonkor commented on #20
Thanks, I will test it.

[2016-01-28 21:32] TheFinestArtist commented on #16
@skram Ah ha! Got it!

[2016-02-01 14:25] baoxiehao opened #23 "Horizontal scroll bar is not scrolling at all."
Test the URL: http://andrewliu.in/2016/01/30/%E8%81%8A%E8%81%8ARe.

[2016-02-07 02:47] 3lywa opened #24 "Getting NullPointerException on Bitmap.getWidth()"
I keep getting the following exception whenever i try to use: new FinestWebView.Builder(activity).show(url);

[code]

[2016-02-07 13:47] borolepratik opened #25 "Custom widget and an activity"
Would you consider making a custom widget of the FinestWebView? That way, we can get the full control of the activity. I'm considering using this library, but i wont be able to add navigation drawer, other toolbar options, fragments, etc.

[2016-02-07 15:14] taimur97 commented on #21
you just have to add the following code to listen for all incoming download

mWeb.getSettings().setJavaScriptEnabled(true);
        mWeb.setDownloadListener(new DownloadListener() {

[code]

[2016-02-07 15:15] taimur97 commented on #21
and is there anyway to add multiple window support?

[2016-02-11 22:05] fncapps commented on #21
+1! Really need this feature.

Maybe you can try just to provide a callback to onDownloadStart? Each dev could decide what they want to do with this method.

[2016-02-14 05:51] TheFinestArtist opened #26 "ChromeWebView"
I'm pasting a link for adding find on page.

https://developer.chrome.com/multidevice/android/customtabs#configure-a custom menu

Maybe it can help you

[2016-02-14 05:51] TheFinestArtist opened #27 "Searching"
I saw some browsers give "find on page" option to search text in web pages..
Is it possible to do it in WebView?

[2016-02-14 06:09] TheFinestArtist opened #28 "Multiple window support"
is there anyway to add multiple window support?

[2016-02-14 06:10] TheFinestArtist commented on #21
@taimur97 You mean multiple window such as Google Chrome Add new window?
https://github.com/TheFinestArtist/FinestWebView-Android/issues/28

[2016-02-14 11:34] TheFinestArtist commented on #27
Released [1.1.7](https://github.com/TheFinestArtist/FinestWebView-Android/releases/tag/1.1.7) with `Find` feature. We need better customization for `Find`

[2016-02-14 11:35] TheFinestArtist commented on #21
Released [1.1.7](https://github.com/TheFinestArtist/FinestWebView-Android/releases/tag/1.1.7) with `onDownloadStart` in `WebViewListener`.

[code]

[2016-02-14 11:36] TheFinestArtist commented on #21
Let me know if the listener doesn't work as you intended!

[2016-02-14 11:47] TheFinestArtist commented on #24
@3lywa I think `BitmapFactory.decodeResource(context.getResources(), drawableRes)` returns `null`. Can you clean your project and build it again?

Let me know if this issue is keep occurring. I need more information such as build version and device name.

[2016-02-14 11:53] TheFinestArtist commented on #25
Hi @borolepratik, I need full control of `Activity` to make some feature work. For example, `Refresh` menu need `toolbar` custom `layout` for menus and `webview`. I think I can make it as `Fragment` which is pretty challenging. But, I honestly think it's kind of hard to make `FinestWebView` as a custom widget. Sorry mate.

[2016-02-14 11:54] TheFinestArtist opened #29 "Support `FinestWebViewFragment`"

[2016-02-14 12:50] fncapps commented on #21
Thanks man! ;)

[2016-02-14 12:51] TheFinestArtist opened #30 "Local HTML/Download/Long tab to save image"
http://jo.centis1504.net/?p=1070

[2016-02-14 16:37] fncapps commented on #21
Hi @TheFinestArtist , I've been looking into the listener but I'm not able to make it work. Here is what I have:

[code]

It throws me an error on startActivity saying "Cannot resolve method" probably because I can't tell him a context. But even if I write a Log.d("", "") inside there it never shows up.

Could you help me please?
Thanks

[2016-02-15 19:57] 3lywa commented on #24
I've tried to clean and rebuild with no luck. I've tried the latest build 17 as well as the previous 16.

The test device that i'm using is Nexus 6

[2016-02-16 21:20] fncapps opened #31 "setWebViewClient to webView"
Hi, I've been some days looking for methods in order to be able to download from the webview.

I have found a workaround based on `WebClient` but I first need to be able to do `webView.setWebViewClient();`

Could you add this functionality soon please?
Thanks a lot!

[2016-02-17 16:20] TheFinestArtist commented on #31
Hi @fncapps, can you tell me how you want to overrideUrlLoading? What kind of code you want to run on `shouldOverrideUrlLoading()` event?

[2016-02-17 16:21] TheFinestArtist commented on #24
@3lywa I will try to look deeper! Thanks for your comments!

[2016-02-17 17:00] fncapps commented on #31
The idea was to look at the end of the URL for any kind of mimetype and start a download manager request if it was supposed to be downloaded.

The thing is that I recently found out this does not work with web pages that use php for example to trigger the download, so it is unnecessary.

The problem is that the method onStartDownload doesn't work neither.

[2016-02-20 21:57] TheFinestArtist opened #32 "Check this out"
http://jo.centis1504.net/?p=885

[2016-03-07 03:00] dongjingun opened #33 "can it design my one ErrorView?"

[2016-03-08 10:06] appsoluts opened #34 "Attribute "rippleColor" has already been defined"
Conflicts with the support lib !

Please rename rippleColor to something else like _rippleColor !

Any help for this issue?

[2016-03-09 10:02] trihung93 opened #35 "Crash When close and open the FinestWebView"
[code]

[2016-03-10 18:42] TheFinestArtist commented on #35
Will solve this crash ASAP

[2016-03-10 18:42] TheFinestArtist commented on #34
Trying to find out where is the rippleColor is!

[2016-03-10 18:43] TheFinestArtist commented on #33
Will my best to add this feature.

[2016-03-11 01:03] TheFinestArtist commented on #35
Seems like its a bug of `WebView` which is not fixed for long. https://code.google.com/p/android/issues/detail?id=15694

[2016-03-11 01:41] TheFinestArtist commented on #35
I followed this solution. http://stackoverflow.com/a/5966151/1797648
Let me know if there is any same issue occurs!

[2016-03-11 01:41] #35 closed

[2016-03-11 01:50] TheFinestArtist commented on #34
@appsoluts Can you tell me which support library are you using including support library version.
You can also refer this issue from other library. https://github.com/mikepenz/MaterialDrawer/issues/379
I don't really see any conflicts when I tried to use `FinestWebView` with other support library!

Let me know if you keep having this issue!

[2016-03-11 01:50] #34 closed

[2016-03-11 01:52] TheFinestArtist commented on #16
@skram Sorry mate, it has been too long to include this one! I am working on it right now!

[2016-03-11 01:59] TheFinestArtist commented on #33
I have been thinking how should I receive your error view and what kinds of error would there be.

Error Type
* General error
* No connection
* Webpage is not available

The method will look like this.
[code]

What do you think? Let me know if you have any better ideas!

[2016-03-11 04:38] TheFinestArtist commented on #23
@baoxiehao You are truly right about this. I'm trying to figure out what is going on here!

[2016-03-11 05:18] TheFinestArtist commented on #23
@baoxiehao Seems like the `NestedScrollView` is blocking the horizontal scroll.

[2016-03-11 19:29] TheFinestArtist commented on #33
@dongjingun I have been thinking how should I receive your error view and what kinds of error would there be.

Error Type
- General error
- No connection
- Webpage is not available

The method will look like this.

[code]

What do you think? Let me know if you have any better ideas!

[2016-03-13 04:14] rickybloomfield commented on #29
This would be very helpful. I'd like to add a custom subview, but currently it seems difficult.

[2016-03-14 00:27] TheFinestArtist commented on #24
Hi @3lywa, there is good new! Google released new version of support libraries and `VectorDrawableCompat` is not available.

I just added vector image files and updated all the icon drawable from png to xml. I removed `getColoredBitmap()` method and there won't be any of this issues.

[2016-03-14 00:27] #24 closed

[2016-03-14 02:59] TheFinestArtist commented on #21
@fncapps Sorry for late reply, I didn't notice that you asked me question! Let me check whether the method called.

[2016-03-14 03:00] #28 closed

[2016-03-14 03:01] TheFinestArtist commented on #29
@rickybloomfield I might have to move all codes to fragment and hmm..seems not easy!

[2016-03-14 03:33] rickybloomfield commented on #29
I understand! Don't worry if it's too hard! I might just need to figure out how to extend the class and change the interface programmatically. I'm assuming that would be possible?

[2016-03-14 05:17] TheFinestArtist commented on #29
@rickybloomfield You can surely extend the class and change customized it as you want. I made every single variable as `protected`.

Honestly, I think I have to add this feature at some point. But, I don't really know how much time do I need! The first `FinestWebView` was fragment not activity.

[2016-03-14 05:19] TheFinestArtist opened #36 "[Feature Request] Remove swipe loading progress if the webview is loaded 10%"
Google Chrome app hide loading indicator even the website is not fully loaded. Loading indicator is kind of distracting too.

[2016-03-14 05:20] TheFinestArtist commented on #28
Closed because we need to support URL field first.

[2016-03-14 05:22] TheFinestArtist commented on #6
Closed because Floating Action Button can distract and hide webview. It is great idea, though.

[2016-03-14 13:31] rickybloomfield commented on #29
Cool, thanks for your quick replies. I'll probably be able to work it out. One last question - do you know of a way to get a notification (or set listener) to know when the FinestWebView closes? I suppose I could extend the view and add it, but I wanted to make sure I wasn't overlooking something you already had available. Thanks!

[2016-03-14 16:07] marvinlix opened #37 "crash when os's verison > 23"
crash log.

[code]

[2016-03-14 16:09] marvinlix commented on #37
`VectorDrawableCompat drawable = (VectorDrawableCompat) ContextCompat.getDrawable(this, drawableRes);`

drawable have to be Drawable

[2016-03-15 03:03] TheFinestArtist commented on #37
Oh my god.. Got  you!

[2016-03-15 03:21] TheFinestArtist commented on #37
Fixed and released! @marvinlix Thanks for reporting issue!

[2016-03-15 03:21] #37 closed

[2016-03-16 09:42] TheFinestArtist commented on #33
Loading View
- Loading splash

[code]

[2016-03-18 09:21] urizev opened #38 "OutOfMemoryError in BitmapHelper.getColoredBitmap()"
Hi everyone,

I don't know if anyone more have received this error:

[code]

This is the way I launching the web activity:

[code]

It is a pretty simple code.

I cannot say which url is throwing the error since the app is in production. If it really matters I could try to find out the url but I am not sure I could.

Thanks in advance.

[2016-03-18 15:18] TheFinestArtist commented on #38
Hello @urizev, thanks for your bug report! I recently updated 4 icons that was used in `FinestWebView`. `BitmapHelper` no longer have `getColoredBitmap()` method. Since VectorDrawableCompat is added newly released support package, I updated all the drawable as vector drawable. I think `OutOfMemoryError` will be gone after you update `FinestWebView` to `1.2.1`.

Let me know if `OutOfMemoryError` ke

[2016-03-18 15:18] #38 closed

[2016-03-19 10:44] urizev commented on #38
Gotcha! Thanks @TheFinestArtist. I will try the new version and let you now if it happens again.

[2016-03-22 06:40] vishnuchd commented on #4
@TheFinestArtist  i tried to open document in docs as described in link it not displaying properly as in the image.
Also please tell me how can i change title color to white. by default its in Black (refer image)

![device-2016-03-22-120642](https://cloud.githubusercontent.com/assets/9019494/13943897/bf0634b2-f026-11e5-83ce-a6baed5d88f6.png)

[2016-03-24 02:11] lv910929 opened #39 "how to disable the LongClickLinstener"
Which is the method that to disable the LongClickLinstener

[2016-03-26 08:54] kingsleyadio commented on #4
Hi @TheFinestArtist
I also get similar behavior where the main content is cut off entirely to remain a tiny visible part as in @vishnudbimcs screenshot above when I try to load embedded videos.

Is there something I'm not doing correctly?
Try loading https://www.youtube.com/embed/ANM-dq5USTc to see what I'm talking about.

Any help will be appreciated.
Thank you.

[2016-03-27 02:55] TheFinestArtist commented on #39
@lv910929 I will take a look!

[2016-03-27 09:59] arsalkhan201241 opened #40 "Youtube background play"
I have an issue in this library when i play any video and press home buttom the video will remain play on background this rejects my app from google play please help how can i fix it??

[2016-04-03 21:52] Heri14 commented on #37
This problem still persists.

[2016-04-04 23:10] PGMacDesign opened #41 "Class Cast Exception"
Hi all, I am getting a Class cast exception when I try to open the activity.

[code]

It runs when I use the following code from within an activity:

//The Url privacy policy is just a standard web URL
new FinestWebView.Builder(this).show(Constants.URL_PRIVACY_POLICY);

Is there something wrong with how I structured the builder? Or is the issue simply with the unchecked image casting?

-PGMacDesig

[2016-04-05 10:04] DanteAndroid commented on #40
Try calling `webview.onPause()` in your activity's `onPause()`.

[2016-04-06 11:22] TheFinestArtist commented on #41
@PGMacDesign I am using `VectorDrawable` so I think you should use gradle version higher than `2.0.0` (`classpath 'com.android.tools.build:gradle:2.0.0-rc3'`) and gradle wrapper distribution url higher than 2.10 (`distributionUrl=https\://services.gradle.org/distributions/gradle-2.10-all.zip`)

[2016-04-06 11:22] #41 closed

[2016-04-06 11:27] TheFinestArtist commented on #40
@arsalkhan201241 Seriously, Google play rejects playing video on background?

[2016-04-06 11:41] TheFinestArtist commented on #40
@arsalkhan201241 User `FinestWebView` version `1.2.3`. It automatically pause webview when the activity closes 👍

[2016-04-06 11:41] #40 closed

[2016-04-06 15:28] cyqluowang opened #42 "bug?"
[code]

[2016-04-06 15:32] cyqluowang commented on #37
This problem still persists.

[2016-04-07 15:35] rakshitsoni02 opened #43 "java.lang.NullPointerException: Call Base.initialize(context) within your Application onCreate() method."
please check this issue when pressing back button on chrome browser.

[2016-04-08 00:37] cyqluowang opened #44 "crash--This problem still persists #37"
[code]

[2016-04-08 18:36] rakshitsoni02 commented on #43
please help me in this issue as this causes serious crash when coming on web view from other app.

[2016-04-08 18:44] rakshitsoni02 commented on #43
solved by adding Call Base.initialize(context)  in application class

[2016-04-08 18:44] #43 closed

[2016-04-13 12:29] vishal-200985 opened #45 "FinestWebView As Fragment"
Hello

This is nice webview library but the problem is that it always added as an activity.but i require to add webview as fragment because i am using custom html and javascript that need to be loaded .

and various different options are required . So i need to add it as fragment ..its very important and urgent for me .. SO can you please help me out ??

Thanks ..

[2016-04-15 06:53] asamaru7 opened #46 "error with android support library : 23.3.0"
x(close) button touch -> error

android support library : 23.2.1 -> ok
android support library : 23.3.0 -> error

[code]

[2016-04-15 07:12] vishnuchd commented on #4
Any Updates??

[2016-04-16 14:01] TheFinestArtist commented on #46
Fixed!

[2016-04-16 14:01] #46 closed

[2016-04-16 14:05] TheFinestArtist commented on #42
Does this solve your issue?
http://stackoverflow.com/a/35624744/1797648

[2016-04-16 14:05] TheFinestArtist commented on #44
Does this solve your issue?
http://stackoverflow.com/a/35624744/1797648

[2016-04-16 14:48] TheFinestArtist commented on #45
Will add this feature some day!

[2016-04-16 14:52] TheFinestArtist commented on #44
@cyqluowang
Can you tell me little more information?
1. Which version of FinestWebView you are using
2. Gradle version
3. Support library version, especially appcompat-v7

[2016-04-16 14:53] TheFinestArtist commented on #42
@cyqluowang Please user android support version 23.2.1 or 23.2.0 I think there is bug with 23.3.0

[2016-04-16 14:53] #42 closed

[2016-04-17 03:39] sekharrockz opened #47 "my web url shows login dialog when the url opens first, but i cant see it while using your library"
my web url shows login dialog when the url opens first, but i cant see it while using your library

[2016-04-17 03:40] sekharrockz commented on #47
my url: https://myub.bridgeport.edu/

[2016-04-17 03:54] sekharrockz commented on #47
my code:

new FinestWebView.Builder(MainActivity.this)
                    .theme(R.style.FinestWebViewTheme)
                    .webViewJavaScriptEnabled(true)
                    .webViewSupportMultipleWindows(true)
                    .webViewJavaScriptCanOpenWindowsAutomatically(true)
                    .webViewNeedInitialFocus(true)
                    .webViewUserAgentString("Mozilla/5.0 (

[2016-04-18 15:27] rachitmishra commented on #41
why i should use rc3?

[2016-04-18 16:44] PGMacDesign commented on #41
I just tested and confirmed that using gradle 2.0.0 or higher works and fixes the issue I was having. Specifically, in the build.gradle file, I adjusted this line:
classpath 'com.android.tools.build:gradle:2.0.0'
Under the dependencies section under the buildscript section.
Thanks!

[2016-04-19 03:26] cyqluowang commented on #44
FinestWebView： 1.2.5
Gradle：com.android.tools.build:gradle:2.0.0
appcompat-v7：23.2.1

[2016-04-19 03:27] cyqluowang commented on #44
[code]

[2016-04-19 07:01] cyqluowang commented on #44
[code]

[2016-04-27 18:48] suliuyes commented on #44
Me too!!!
The same problem!!!

FinestWebView： 1.2.5
Gradle：com.android.tools.build:gradle:2.1.0
compile "com.android.support:appcompat-v7:23.2.1"
compile "com.android.support:design:23.2.1"
gradle-2.10-all.zip
vectorDrawables.useSupportLibrary = true

[2016-04-27 18:49] suliuyes commented on #44
gradle-2.10-all.zip

[2016-04-28 10:42] toneiv opened #48 "Invalid drawable tag Vector API 16"
Hello

I've got an error with your library in API 16 :
- My app is using vectors with the flag "vectorDrawables.useSupportLibrary = true"
- The error is about vector drawable : Binary XML file line #2: invalid drawable tag vector

I've managed to resolved it by editing the method updateIcon in the class FinestWebViewActivity.
Replace at line 853
`Drawable drawable = ContextCompat.getDrawable(this,

[2016-04-28 11:42] souravdas6 commented on #44
Below API level 21, app is crashing for class ClassCastException: android.graphics.drawable.BitmapDrawable cannot be cast to android.support.graphics.drawable.VectorDrawableCompat                                                                       at com.thefinestartist.finestwebview.FinestWebViewActivity.updateIcon(FinestWebViewActivity.java:859)

[2016-04-28 16:11] MSandeep96 opened #49 "Dimiss webview from webviewlistener"
How do I dismiss the webview from it's webview listener?

[2016-04-29 03:43] zq3936 opened #50 "DownloadListener didn't work"
In class com.thefinestartist.finestwebview.listeners.BroadCastManager,the handleIntent(Intent intent) method has not handle DOWNLOADED_START type.

[2016-05-07 14:33] TheFinestArtist commented on #48
Seems like the vector compat support API has been removed temporarily. https://code.google.com/p/android/issues/detail?id=205236

[2016-05-07 14:33] TheFinestArtist commented on #48
I will update this library ASAP.

[2016-05-07 14:34] TheFinestArtist commented on #44
Seems like the vector compat support API has been removed temporarily. https://code.google.com/p/android/issues/detail?id=205236

I will update the library ASAP.

[2016-05-08 05:27] TheFinestArtist commented on #44
Released 1.2.6 which doesn't uses any vector icons. I will reuse vector icons if the Android support library is ready.

[2016-05-08 05:27] #44 closed

[2016-05-08 05:28] TheFinestArtist commented on #48
Released 1.2.6 which doesn't uses any vector icons. I will reuse vector icons if Android support library is ready.

[2016-05-08 05:28] #48 closed

[2016-05-11 02:27] bhbfhfb opened #57 "Support 'market://' scheme"
please support 'matket://' scheme

http://developer.android.com/intl/ko/distribute/tools/promote/linking.html

[2016-05-11 04:27] hatpick opened #58 "Support tabs"
Do you have any plans on adding tabs to this library?

[2016-05-15 08:18] DAWSTUDIOS opened #59 "how to add video full screen mode"

[2016-05-18 03:08] rokoroku commented on #43
I love this library, however, I suffered from the same issue after release. You'd better mention it on getting started section @TheFinestArtist .

[2016-05-23 07:34] PiotrWpl opened #60 "com.thefinestartist.finestwebview.FinestWebViewActivity.onClick crash"
Hello,

Stacktrace from crashlytics.com:

Fatal Exception: java.lang.IllegalStateException: Could not execute method of the activity
       at android.view.View$1.onClick(View.java:3660)
       at android.view.View.performClick(View.java:4162)
       at android.view.View$PerformClick.run(View.java:17082)
       at android.os.Handler.handleCallback(Handler.java:615)
       at android.os.Handler.dis

[2016-05-24 07:12] rokoroku opened #61 "IllegalArgumentException: Service not registered: android.speech.tts.TextToSpeech$Connection"
After a week with your awesome library, I found that some devices get this issue.

See blow link for more information:
http://crashes.to/s/1a0bc3c6ae7

Hope below post may be helpful:
http://johnfeng.github.io/blog/2015/02/27/android-webview-issue-service-not-registered-android-dot-speech-dot-tts-dot-texttospeech/

[2016-05-26 21:14] PGMacDesign opened #62 "IllegalArgumentException thrown When any of the buttons are pressed"
Hello, Whenever I click on any of the buttons (The X button, 3 dots, back button, etc), I receive this error:

https://gist.github.com/PGMacDesign/d62a6055a8f0edaa5b465b1195ed2509

This happens whether I set it up like this:
                    new FinestWebView.Builder(getActivity())
                            .disableIconMenu(true)
                            .disableIconForward(true)

[2016-05-31 01:34] andrewjlow opened #63 "support for mailto:"
Hi @TheFinestArtist ,

First of all, thank you for developing this! I really appreciate it! :)

I noticed there is no check for `mailto:` for the `public boolean shouldOverrideUrlLoading(WebView view, String url)` method in the `MyWebClient`. Is it possible to add in support for this? Currently, clicking any `mailto:` link will give you the **net::ERR-UNKNOWN_URL_SCHEME** error page...

Thank you!

[2016-05-31 02:09] andrewjlow opened #64 "Enhancement: Ability to add extra HEADER information to HTTP REQUEST"
I would also like put in a request to be able to add in extra header information to the HTTP REQUEST. In my case, I need to add in an extra token to prevent Cross-Site Reference Forgery (CSRF).

Thank you!

[2016-06-05 08:02] TheFinestArtist opened #66 "TODO"
1. Swipe refresh without nested control.
2. No toolbar options -> remove toolbar
3. PDF support
4. Find in webview support.
5. Cookie/Cache Support
6. File upload.
7. Download listener.

[2016-06-05 08:03] TheFinestArtist commented on #66
FinestWebView/FinestWebViewFragment/FinestWebViewActivity
ErrorView/LoadingView

[2016-06-08 11:18] broakenmedia commented on #16
Would love to see this!

[2016-06-12 15:09] csero opened #67 "How set custom layout for error?"
Do you currently have a solution?

[2016-06-12 16:36] mopsalarm commented on #37
A 'fixed' version is available as jitpack dependency from my repo:
`compile 'com.github.mopsalarm:FinestWebView-Android:2cf36fd5298052490c5bc4535ba6a666c4208202'`

[2016-06-15 12:28] raviteja06 opened #68 "Crash -- Getting NullPointerException on android.content.res.Resources$NotFoundException: File res/drawable/close.xml from drawable resource ID #0x7f02005c"
at android.app.ActivityThread.performLaunchActivity(ActivityThread.java:2404)
	at android.app.ActivityThread.handleLaunchActivity(ActivityThread.java:2464)
	at android.app.ActivityThread.access$900(ActivityThread.java:172)
	at android.app.ActivityThread$H.handleMessage(ActivityThread.java:1308)
	at android.os.Handler.dispatchMessage(Handler.java:102)
	at android.os.Looper.loop(Looper.java:146)
	at

[2016-06-24 13:34] jonathanrc opened #69 "HTML File Input doesn't work"
HTML File Input doesn't work. The suport for upload files is included?

[2016-06-24 13:35] jonathanrc opened #70 "How i set onReceivedHttpAuthRequest"
The url i need to access uses a http authentication, on regular webview i set user and password on method onReceivedHttpAuthRequest, in WebViewClient. How i do here?

[2016-06-26 01:23] davidskun opened #71 "Closing FinestWebViewActivity when launched as an intent brings up another FinestWebViewActivity when closed"
Thanks for great and easy to use library!

I launched the FinestWebViewActivity as an intent, which works, but when I close it, it launches another intent with the default look of the FinestWebViewActivity with the same url.

[code]

How do I resolve this issue?
Thanks in advance

[2016-06-28 17:23] MarsVard commented on #4
anybody?

[2016-07-01 07:47] murtaza61 opened #72 "jw player video problem"
i have web page with play webm video with jwplayer. In mobile chrome app it plays the video but in webview  it shows error File could not be played. Any suggestions?

[2016-07-12 21:53] Obirawa opened #73 "Fatal Exception: java.lang.IllegalArgumentException: Service not registered: android.speech.tts.TextToSpeech$Connection"
This issue is caused by passing the activity context when creating the webview, to solve this issue replace the following inside onCreate's method inside FinestWebViewActivity:
replace:
webView = new WebView(this);
with:
webView = new WebView(getApplicationContext());

[2016-07-13 03:41] Obirawa opened #74 "Fatal Exception: java.lang.ClassCastException: android.widget.FrameLayout$LayoutParams cannot be cast to com.android.internal.widget.ActionBarOverlayLayout$LayoutParams"
This crash happens on HTC devices running kitkat like:

HTC One
HTC desire 610
HTC One mini 2

this crash happens EVERYTIME

[2016-07-14 11:02] Obirawa opened #75 "crash inside View.java"
This crash happens mostly on kitkat devices and I believe it is caused when laying out the views and setting the layout parameters, here is the crash log:

java.lang.ClassCastException: android.widget.FrameLayout$LayoutParams cannot be cast to com.android.internal.widget.ActionBarOverlayLayout$LayoutParams
       at com.android.internal.widget.ActionBarOverlayLayout.applyInsets(ActionBarOverlayLay

[2016-07-16 05:36] kasim1011 opened #76 "Enhance Webview"
hi @TheFinestArtist

Is it possible to use [AdvancedWebView](https://github.com/delight-im/Android-AdvancedWebView) into this library. because `AdvancedWebView` provides additional set of useful features.

[2016-07-16 11:28] zahid--ali opened #77 "WebView Close Listener"
How can I add onClose listener in FinestWebView? @TheFinestArtist

[2016-07-20 09:04] arsalanengr commented on #40
I'll check it thanks :)

[2016-07-22 05:58] YoonKyoungTae opened #78 "I'm not found proguard rules."
Hi, finestWebView is fantastic!

I'm not found proguard rules.
how to add?

감사합니다.

[2016-07-22 21:01] dtunctuncer opened #79 "Exception java.lang.NullPointerException: Call Base.initialize(context) within your Application onCreate() method."
java.lang.NullPointerException: Call Base.initialize(context) within your Application onCreate() method. at com.thefinestartist.Base.a(Base.java:30) at com.thefinestartist.utils.service.ServiceUtil.a(ServiceUtil.java:76) at com.thefinestartist.utils.service.ServiceUtil.M(ServiceUtil.java:251) at com.thefinestartist.utils.service.WindowManagerUtil.a(WindowManagerUtil.java:19) at com.thefinestartist

[2016-07-27 13:01] imidhuntv commented on #43
This bug still exists!! Please fix this!!

[2016-07-27 13:02] imidhuntv commented on #79
My users are also experiencing the same issue. I'm using FWV v1.2.7 .

Crash Log,

`Fatal Exception: java.lang.RuntimeException: Unable to start activity ComponentInfo{com.talkoot.android/com.thefinestartist.finestwebview.FinestWebViewActivity}: java.lang.NullPointerException: Call Base.initialize(context) within your Application onCreate() method.
       at android.app.ActivityThread.performLaunc

[2016-07-27 14:24] imidhuntv commented on #43
Sorry, My bad. Adding the line  Base.initialize(this) in App.java solved it. Thank you @rakshitsoni02.

[2016-07-27 14:28] imidhuntv commented on #79
@dtunctuncer Add Base.initialize(this) in onCreate() method of your App.java class which is extended from Application class. It fill fix this issue.

[2016-07-27 14:57] dtunctuncer commented on #79
@imidhuntv thank you, i guess they don't bother write replies to issues

[2016-07-28 06:20] falbani opened #80 "No auto adjust screen size!!??"
Almost everyone who uses webview wants the webpage actually looks like an application for that adjusting the webpage to fit the screen is ESSENTIAL!! I see no options for that on FinestWebView and I looked for 10 minutes to all options, can't believe you guys didn't add something so important like that. Anyway thank for your work! :+1:

[2016-07-28 09:18] oktayayr commented on #77
I'm looking for this feature. @zahid--ali  @TheFinestArtist

[2016-07-31 17:35] Obirawa opened #81 "webview.destroy()"
surround webview.destroy() with try/catch

[2016-08-03 06:35] hatpick commented on #58
Hello?!

[2016-08-04 09:31] randhika opened #82 "close from receiver"
Hai.. i am use firebase, and i want close FinestWebview after receive the notification..
How can it work?

Thanks

[2016-08-08 12:18] ceddyb opened #83 "FinestWebView as a Fragment without a toolbar"
Hi,

When are you planing to add a fragment support, for example defined in an xml , without a toolbar on the web content to appear.

[2016-08-08 23:53] TheFinestArtist opened #84 "Close webview if there is any event."

[2016-08-09 22:50] #82 closed

[2016-08-11 11:58] asamaru7 commented on #74
+1

[2016-08-14 02:34] kalvish21 commented on #4
yeah, same here. Also with video files too.

[2016-08-14 12:58] ruanzhenjie commented on #66
Please tell me how to upload file with FinestWebView.

[2016-08-22 07:57] jkstop commented on #74
Solution:
Add theme in builder. Example:

new FinestWebView.Builder(context)
                .theme(R.style.FinestWebViewAppTheme)

[2016-08-22 11:06] asamaru7 commented on #74
R.style.FinestWebViewAppTheme -> R.style.FinestWebViewTheme?

[code]

I am using sac_FinestWebViewTheme. but same error.

[2016-08-22 11:08] jkstop commented on #74
<style name="FinestWebViewAppTheme" parent="Theme.AppCompat.Light">
        <item name="colorPrimary">@color/colorPrimary</item>
        <item name="colorPrimaryDark">@color/colorPrimaryDark</item>
        <item name="colorAccent">@color/colorAccent</item>

        <item name="windowActionBar">false</item>
        <item name="windowNoTitle">true</item>
    </style>

[2016-08-22 11:12] jkstop commented on #74
`<style name="FinestWebViewAppTheme" parent="Theme.AppCompat.Light">
<item name="colorPrimary">@color/colorPrimary</item>
        <item name="colorPrimaryDark">@color/colorPrimaryDark</item>
        <item name="colorAccent">@color/colorAccent</item>
        <item name="windowActionBar">false</item>
        <item name="windowNoTitle">true</item>
    </style>`

[2016-08-25 11:51] rsk-07 commented on #80
any update on this issue? the webview is not properly taking the screen size into consideration. Is there a fix for it?

[2016-08-30 12:09] TheFinestArtist commented on #58
@hatpick Sorry for the late reply, could you explain little bit more about your intention?

[2016-08-30 12:11] TheFinestArtist commented on #76
I will take a look on the useful features!

[2016-08-30 12:12] TheFinestArtist commented on #78
Hi @YoonKyoungTae, I don't think there is any specific proguard rule for this library!

[2016-08-30 20:20] hatpick commented on #58
@TheFinestArtist Support tabs like Chrome browser does, then I can use this as an standalone browser in my app.

[2016-09-01 22:26] digitalprecision opened #85 "Couldn't resolve resource @id/centerLayout"
I am trying to implement a single page webview via your api and keep running into the "Couldn't resolve resource @id/centerLayout" error.

I took a look at your sample code and it works, but I try to do a single view it doesn't work. What I did is remove the webview references and put everything relevant into main references so WebView.xml and Webview.java were deleted.

Here's what I have in **Ma

[2016-09-05 09:26] xjtdy888 opened #86 "how to call toolbar setNavigationIcon"
i can't get toolbar object

[2016-09-05 14:26] asamaru7 commented on #74
@jkstop
I try "Theme.AppCompat.Light". but same error.
I have not HTC One device. I tested this on Google Play Deveolper Console(Pre-launch report).

[2016-09-06 03:57] #86 closed

[2016-09-06 15:34] digitalprecision commented on #85
Closing issue, I was able to resolve by removing the empty frame from the stack.

[2016-09-06 15:34] #85 closed

[2016-09-06 17:26] digitalprecision opened #87 "Camera access"
How do I enable camera access from webview? Haven't been able to find any docs about the subject. Thanks.

[2016-09-07 03:15] baoxiehao commented on #23
@TheFinestArtist Do you have the time to fix it?

[2016-09-07 03:47] footballtimeline opened #88 "Stop youtube video in backgroud when home button is pressed and webview goes through onPauseState"
I am using this webview for my app but playstore is not accepting my app as it says that my app is letting users play youtube in backgroud. Is there any solution for it or is it a bug ?

[2016-09-12 04:18] BrandedAlok opened #89 "Not able to even run the project please help"
It is showing the following error.
Even when i am clicking on Open SDK manager to look for updates it is displaying the same error again and again.
![huhwebview](https://cloud.githubusercontent.com/assets/21073030/18424488/fae33f4a-78cd-11e6-9f94-1ef2b4bc1b8e.jpg)

[2016-09-12 16:01] MangeshKadam opened #90 "how to hide toolbar?"
I wanted to hide toolbar. Not able to find any solution. Any help is appreciated.

[2016-09-13 15:18] subbuboyapati opened #91 "NullpointerException from Activity oncreate()"
[code]

[2016-09-15 14:26] spidfire commented on #4
Same issue here

[2016-09-17 16:45] psychowood commented on #50
I added pr #92 to fix this. If you still need it you can clone the fork from my repo (just in case it won't be merged).

[2016-09-24 19:25] justdeko commented on #4
Soooo will we ever get an answer to this?

[2016-09-25 15:44] spidfire commented on #91
I got it also. The error came from a OnePlus 2 (ONE A2003)

[2016-10-03 08:05] #49 closed

[2016-10-07 16:03] weswes opened #93 "Google maps compatibility ?"
It seems that google maps won't show in the webview, for example:

https://www.google.fr/maps/place/Paris/@48.8589507,2.2775174,12z/data=!3m1!4b1!4m5!3m4!1s0x47e66e1f06e2b70f:0x40b82c3688c9460!8m2!3d48.8565835!4d2.3522758

=> only print a blank page.

In the defualt android navigator it's ok.

Thanks for your help

[2016-10-12 11:33] kailash09dabhi opened #94 "Restricting WebView to one page only"
I want to restrict user to only the single page.
Can you tell me how do i restrict user to the only one page.?

[2016-10-13 20:41] digitalprecision opened #95 "FinestWebView with Fullpage.js"
Anyone use fullpage.js? If I set the webview url to http://alvarotrigo.com/fullPage/, FinestWebView won't load the entire page, rather there is a white box covering most of the view.

[2016-10-14 20:38] #95 closed

[2016-10-17 16:18] shafiullakhan opened #96 "Crash on Closing opened FinestWebView.Builder"
FATAL EXCEPTION: main
                                                                                    Process: com.arubanetworks.arubapediamobile, PID: 20898
                                                                                    java.lang.IllegalArgumentException: Expected receiver of type com.thefinestartist.finestwebview.FinestWebViewActivity, but got android.support.v7.widget.T

[2016-10-25 12:39] HamedGh commented on #31
I need it too

[2016-10-25 20:51] wax911 opened #97 "Scrolling works one axis at a time"
Great work on the amazing library! one little problem I'm facing, might be something with my configuration. Not really sure, but If I visit a site like crunchyroll I can only scroll one axis at a time, meaning I can't get the scrolling to work with both X & Y axis I'd have to scroll left or right, stop and scroll up and down. Any help or suggestions would be welcome, my configuration

`new FinestW

[2016-10-25 21:15] #97 closed

[2016-10-25 21:17] wax911 commented on #97
Sorry about that, I had not set the following!

`.webViewUseWideViewPort(true)
.webViewSupportZoom(true)
 .webViewBuiltInZoomControls(true)`

[2016-10-26 14:50] spidfire commented on #91
And also from a Sony and a Samsung

[2016-10-30 15:45] malisahin89 opened #98 "Eclipse"
hi!
How do import  this project on eclipse?

[2016-10-31 09:55] aaru opened #99 "HTML Data not formatted"
Thanks for your wonderful library.
here is my issue.
I am passing HTML formatted text, but the data in the screen is not formatted and everything comes in single line.
Ex: <p>Hi</p>
      <p>123</p>
outputs as Hi 123 in one line.
Here is my code
new FinestWebView.Builder(context)
						.load(htmlData,"text/html; charset=utf-8", "UTF-8");

[2016-11-04 09:57] hisham2007 opened #100 "crash reported on crashlytics"
Fatal Exception: java.lang.IllegalArgumentException: Service not registered: android.speech.tts.TextToSpeech$Connection@41c894b8
       at android.app.LoadedApk.forgetServiceDispatcher(LoadedApk.java:926)
       at android.app.ContextImpl.unbindService(ContextImpl.java:1790)
       at android.content.ContextWrapper.unbindService(ContextWrapper.java:491)
       at android.speech.tts.TextToSpeech$Co

[2016-11-05 06:44] MarnonDev opened #101 "Can you add a method,do not display content until load finish"

[2016-11-05 06:45] MarnonDev opened #102 "How could I change the back button icon?"

[2016-11-07 11:28] ccrazycoder opened #103 "Support Set Javascript Interface"
It would be better if you add support to add JSInterface callback. As in my requirement, I need that to get back values from Webpage.

[2016-11-25 21:24] hisham2007 opened #104 "crashlytics reported bug"
Many crashes on crashlytics:

Fatal Exception: java.lang.RuntimeException: Unable to start activity ComponentInfo{com.tabe3.news/com.thefinestartist.finestwebview.FinestWebViewActivity}: java.lang.NullPointerException: Call Base.initialize(context) within your Application onCreate() method.
       at android.app.ActivityThread.performLaunchActivity(ActivityThread.java:3253)
       at android.app.A

[2016-11-29 19:12] wax911 commented on #104
@hisham2007 I had a similar problem before and funny enough it wasn't related to the library but somewhere in my code, e.g. Fragments where I was try to call getContext I had not recognised that auto import imported the getContext Method within TheFinestWebview thus crashed and gave me the error  "Call Base.initialize(context) within your Application onCreate() method" Not sure if this is what you

[2016-11-30 04:17] baoxiehao opened #105 "The webview does not go to topwards after clicking a new link inside it."
I've load a url in the finestwebview activity, and then I've found something interesting there and click the link. But the page stays blank, cause it doesn't reset the scroll position of the webview and confuses me to think that the page has failed to load.

[2016-12-01 08:05] hishambakr commented on #104
Many thanks. I actually called Base.initialize(context) seems that it fixed the issue

[2016-12-01 19:11] jinthreek89 opened #106 "Didn't show Google Trends site page"
FinestWebView is amazing.
But I am getting issue of didn't show google trends page.
This is example link
https://www.google.com/trends/hottrends?pn=p1#a=20161201-J+Cole
![image](https://cloud.githubusercontent.com/assets/5479567/20808275/e9c6b35a-b83c-11e6-99f5-804164091b7f.png)
What is the problem? I need help.

[2016-12-28 09:17] osmanalsikh93 opened #109 "disableIconMenu disable close icon in RTL"
Hello.

While using disableIconMenu it works well if the device LTR.
But if the device RTL it disable cancel icon.

[2016-12-28 09:21] mc0239 commented on #14
Still having this issue.. Tried visiting duckduckgo.com, same issue tested on Marshmallow and Kitkat versions. There a fix for it?
![screenshot](https://cloud.githubusercontent.com/assets/17457833/21518441/c702d63c-cce6-11e6-8a1e-425e72b33643.png)

[2016-12-28 09:23] mc0239 opened #110 "web view height issue"
Still having issue #14 .. Tried visiting duckduckgo.com, same issue tested on Marshmallow and Kitkat versions. There a fix for it?
![screenshot](https://cloud.githubusercontent.com/assets/17457833/21518551/a07c92c2-cce7-11e6-8c0e-85bcedb087f9.png)

[2017-01-07 22:10] azzits commented on #33
Thanks for the great library.
Did you added this feature for showing error? Let me know if you are including this in next release.

[2017-01-17 23:21] mhemon opened #111 "2 main reason for not using this library!"
1) webview height,  when u open a url it should be fine, but when go to 2nd page it,s not change the webview page size.

2) webview dosen't go topword when u open a new url!

[2017-01-17 23:28] mhemon commented on #111
it,s completely waste my lot,s of time :'(

[2017-01-20 09:32] MbaiMburu opened #112 "FinestWebView Activity unable to resume the previous activity after close button is clicked"
I have an activity which is a menu activity that is used to start an activity that uses FinestWebView library, everything runs fine, but when the close button is clicked instead of resuming the previous menu activity I get a black activity instead.

[2017-01-23 13:03] MbaiMburu opened #113 "shouldOverrride functionality for capturing clicked links"
I'd like to know if there's a way to capture the url of a clicked link. I want to use the url to get html doc using Jsoup, manipulate the html and then display it using the load method. Is there a way to do this with this library, the listeners available have not been helpful.

[2017-01-24 03:38] NoelChew commented on #110
Doesn't work on Android 7.0 too.

[2017-01-28 04:48] baoxiehao commented on #111
Yes, quite the same problem boring me... but it's a very good web view when ignoring this bug.

[2017-02-01 09:28] sandeeprana011 opened #114 "FinestWebViewActivity}: java.lang.NullPointerException: Attempt to invoke virtual method 'int android.graphics.Bitmap.getWidth()' on a null object reference"
Force Closes on 7.0 device

`AndroidRuntime: FATAL EXCEPTION: main
                                                             Process: com.takesport, PID: 6255
                                                             java.lang.RuntimeException: Unable to start activity ComponentInfo{com.takesport/com.thefinestartist.finestwebview.FinestWebViewActivity}: java.lang.NullPointerException: Attemp

[2017-02-01 16:51] cjxonix opened #115 "HTC Weird Phones this class cast error occurs"
HTC Weird Phones this class cast error occurs

[code]

[2017-02-06 20:04] imsocb opened #116 "Enable to fit entire website content in webview when first initialized?"
Hi as the title has stated I'm trying to fit entire webpage shown in the code below in webview however, it only show part of the webpage when first initialize and I have to manually zoom out in order to scale the webpage to see the entire webpage content. Tried `.webViewLoadWithOverviewMode(true).webViewUseWideViewPort(true)` to no avail. Please help Thank you!

[code]

[2017-02-11 05:08] #25 closed

[2017-03-03 01:08] jtoce commented on #115
Does anyone have a work around for this? Or can you pinpoint where it's being thrown in code? I don't have an HTC but one of my users is hitting this error. I'd be happy to help work on a fix - but the above callstack doesn't give me much to go on.

[2017-04-06 13:42] punit2502 opened #118 "Fixed admob banner at footer?"
How can I place a fixed admob banner at the footer of webview

[2017-04-08 02:22] billionbucks opened #119 "how to open a file url? e.g. www.mydoamain.com/videos/myvideo.mp4 ??"
so this is how i'm opening my url

`new FinestWebView.Builder(mContext).show(url);`

here url = `https://video.twimg.com/ext_tw_video/850333144557465601/pu/vid/180x320/KZ4HQ4WP72QyNwli.mp4`

why isn't streaming the video, am i missing something?

[2017-04-11 05:23] ponyfe commented on #119
It's seems that this lib do not work well with video play . I used this lib to open a web page contains a video,the video can play well but can't turn to fullscreen mode.

[2017-05-03 08:06] amitsri20 commented on #110
Yeah..i am using version 1.2.7 and facing the same issue..as mentioned in #14 where to set minHeight for webview?

[2017-05-17 13:24] jbmlaird opened #120 "Memory leak"
This leak happens whenever the `FinestWebView` is launched.

![screenshot_20170517-142141](https://cloud.githubusercontent.com/assets/16595870/26155828/6321fd70-3b0c-11e7-9093-8a9f03cb7ed3.png)

[memoryleak.txt](https://github.com/TheFinestArtist/FinestWebView-Android/files/1007850/memoryleak.txt)

[2017-05-23 07:50] Ric17101 commented on #64
Someone can answer this? Same problem just for security purpose..

[2017-06-08 12:20] sckoh commented on #110
i have the same problem too

[2017-06-15 13:05] sairajreddy opened #121 "Can't show only progress bar and remove everything else."
My WebView needs just the progress bar and everything else has to be removed, including the holder-box which shows Title and URL. Please help. Thank you.

[2017-06-21 05:24] andrewjlow commented on #16
Just checking to see if there has been any progress? I really love to have this!

[2017-06-22 05:15] rahul260792 opened #122 "Upload file using file chooser"
I am trying to upload a file from FinestWebView but when I click on select file from webpage nothing happens. Please check the issue. Thanks.!

[2017-06-22 10:47] sagar091 opened #123 "Not working with some of links"
Hello,

Very well library. Everything is custom. I like the most from all webview libs.

I'm trying to open url (https://www.flipkart.com/footwear/pr?sid=osp&q=adidas&otracker=categorytree) but not open in this lib. i copied same link and open in UC browser, it works. So I want to know what's the issue.. All urls are working except some of flipkart urls not working. Please help me to get rid of th

[2017-06-30 13:07] lopezzbelgium commented on #64
+1

[2017-07-02 10:40] crearo commented on #36
Any update on this? Would really love to remove that distracting loading indicator and have only the horizontal progress.

[2017-07-09 21:32] Manish095sharma commented on #112
same problem

[2017-07-10 02:40] AzusaL commented on #120
/**
         * If you use context instead of activity, FinestWebView won't be able to override activity animation.
         * Try to create builder with Activity if it's possible.
         */
        public Builder(@NonNull Context context) {
            this.context = context;
            Base.initialize(context);
        }
you can use ApplicationContext to build

[2017-07-12 10:47] ponnamkarthik commented on #112
can you show your java code

[2017-07-12 11:41] ponnamkarthik commented on #118
How you using the library

compile 'com.thefinestartist:finestwebview:1.2.7'

or

download and importing the library ?

[2017-07-12 11:49] ponnamkarthik commented on #111
Check the code from above link
webview height issue is fixed

[2017-07-12 11:52] ponnamkarthik commented on #110
Check the code from above link
webview height issue is fixed

[2017-07-18 00:22] andrewjlow commented on #4
I found this fork by PonnamKarthik solved this issue with PDF's:

https://github.com/PonnamKarthik/FinestWebView-Android

[2017-07-20 08:09] raj9686 opened #125 "How can I close click pragmatically ?"
https://stackoverflow.com/questions/45208977/how-can-i-close-pragmatically-finestwebview

[2017-07-24 06:11] PankajSavaliyaGit opened #126 "BindingManager: Cannot call determinedVisibility() - never saw a connection for the pid: 24867"
url=http://result2.gtu.ac.in/Default.aspx?ext=S2017&rof=1450

FinestWebView.Builder web = new FinestWebView.Builder(context);
                web.webViewJavaScriptEnabled(true);
                web.webViewDomStorageEnabled(false);
                web.show(url);

showing me this error , How fix it?
BindingManager: Cannot call determinedVisibility() - never saw a connection for the pid: 24867

[2017-07-29 14:42] lorenzoPrimi opened #127 "Add item in the menu"
Hi,
I need to add an item in the menu that says "try mirror",
basically I want to open the FinestWebView with an url and a give it a list of mirrors and if the loading fails the user should be able to click on that button and the webview will refresh with the first, second or other mirror in sequence.

Would this be possible with this library? I haven't found a way to add a button and to link to a

[2017-07-31 10:21] surajsau opened #128 "java.lang.ClassNotFoundException: com.android.webview.chromium.WebViewChromiumFactoryProvider"
Getting this issue in crashlytics for many of my users. Not a Lollipop+ issue.
`Fatal Exception: java.lang.RuntimeException: Unable to start activity ComponentInfo{com.halfplatepoha.jisho/com.thefinestartist.finestwebview.FinestWebViewActivity}: android.util.AndroidRuntimeException: java.lang.ClassNotFoundException: com.android.webview.chromium.WebViewChromiumFactoryProvider
       at android.app.

[2017-08-01 10:24] AlaaZarifa commented on #123
I have the same problem 😢

[2017-08-04 17:27] bmbariah commented on #16
Did you manage this? I need a way to send POST data from the app to the webview...Normal webviews have this functionality..

[2017-08-26 10:27] shubu095 opened #129 "Add menu into the existing one"
How can i add menu into the existing menu please it required..

[2017-08-26 12:06] shuboooom commented on #15
refer this https://stackoverflow.com/a/15423907

[2017-08-28 04:36] MyoZawOoPD commented on #60
I had the same error too.

[2017-08-29 11:28] ismdcf commented on #125
@raj9686 did you figure it out

[2017-09-16 10:23] ytgdoc commented on #79
thank very much

[2017-10-02 21:35] maxhectorizquierdo opened #130 "Original URl"
I need that when the user shares the URL, it have to be the OriginalURL, thats because my URL is redirecting to another URL.

[2017-10-07 07:55] asgmojtaba commented on #74
I have same issue but i'm not using `FinestWebView-Android`, probably it's framework/vendor bug...

any workaround ?!

[2017-10-09 23:38] ZephZeph opened #131 "WebView loads pages slowly on some sites"
The below link is a sample url I load in my app and it loads so slow like dial-up connection slow. It's not my internet connection because when I load the below link on Chrome it loads pretty quick. Other pages are fine, not sure what this website uses to make loading slow on WebView.

https://www.play-asia.com/the-world-alumina-death-note-artwork-edition/13/701l8b

[2017-10-11 16:38] samernady commented on #21
any update on this issue ?

[2017-10-19 01:05] vanthoi opened #132 "Webview show lightbox wrong position!"
First I thank you for sharing this source code.

I downloaded and tried it, when I viewed the lightbox it displayed the wrong location.
Only red interface is faultless.
Ask me more is how to load default a certain interface.
Then click the new installation option out interface option.

Thank!

[2017-10-19 01:24] olgunkaya commented on #77
Same here and I think finally I will end-up with extending the ListenerInterface, Builder and Activity itself for related methods.

[2017-10-19 14:25] olgunkaya commented on #77
Ok I did it.

[code]

[2017-10-23 04:40] Xenolion commented on #21
Me too! Any update for me it does not download at all even in FinestWebview itself!

[2017-10-23 05:51] Xenolion commented on #50
Where is your repo link @psychowood

[2017-10-23 08:35] psychowood commented on #50
@Xenolion Here's the commit 6c57ea70777219d52b622547c63f1f9dfe2645c1 and the [repo](https://github.com/psychowood/FinestWebView-Android): beware that it hadn't been updated since the pull request above your post, it's quite outdated right now.

[2017-10-23 10:03] Xenolion commented on #50
Okay thanks man I got to edit that part @psychowood  Thanks a lot!

[2017-11-07 08:20] Nibot1 opened #133 "Appcrash when Click on "Open With""
# Crashlytics Stacktrace:

Fatal Exception: java.lang.IllegalStateException: Could not execute method for android:onClick
       at android.view.View$DeclaredOnClickListener.onClick(View.java:5052)
       at android.view.View.performClick(View.java:6213)
       at android.view.View$PerformClick.run(View.java:23645)
       at android.os.Handler.handleCallback(Handler.java:751)
       at android.os.

[2017-11-09 05:26] mwshubham commented on #119
same thing with image URL.

[2017-11-13 15:04] benobab opened #134 "ClassCastException: FrameLayout$LayoutParams cannot be cast to"
Hi,
On Android 23, this library causes a crash, I can do a pull request if you want, the change is so "simple" :

`
if (android.os.Build.VERSION.SDK_INT > 22) {
            container = (View) pwindow.getContentView().getParent().getParent();
        }else{
            container = (View) pwindow.getContentView().getParent();
        }
`

https://stackoverflow.com/questions/36093254/android-m-classc

[2017-11-20 21:49] shimiuh commented on #45
Hi is FinestWebView As Fragment out ?
thanks

[2017-11-21 18:28] hosseinjafari9574 commented on #23
this problem is solved???

[2017-11-22 06:17] baoxiehao commented on #23
The project seems to be inactive...

[2017-11-22 21:54] hosseinjafari9574 commented on #23
too bad

[2017-11-22 22:13] hosseinjafari9574 commented on #123
my problem too ... please answer it

[2017-11-22 22:17] hosseinjafari9574 commented on #112
I think Finest webview is an Activity itself and doesnt need to lunch it in a new Activity.

[2017-12-06 07:26] aareeph opened #135 "Open links in Google Chrome"
Actually it's not an issue but a question.

In FinestWebView, I want to open some specific links in Google Chrome. Is it possible?

Thanks!

[2017-12-08 06:16] duetdroid2 opened #136 "Exception: NoClassDefFoundError"
Hi,

I met an exception when I am using your library. It trigger a NoClassDefFoundError exception in line 476 of FinestWebViewActivity.java (Full stack trace can be found below). This is an error caused by android multiple versions.

Class android/webkit/RenderProcessGoneDetail really exists in android O+ devices, but has been removed in N+ devices. Though, it seems that this exception did not res

[2017-12-08 06:47] duetdroid2 opened #137 "App freezing"
Hi,

When I am using this library, I meet an app freezing problem.
If I set the variable as follows:
showIconBack=false,rtl=false,gradientDivider=false,showIconMenu=false,updateTitleFromHtml=true,disableIconForward=false,showMenuOpenWith=false,showDivider=false,showMenuFind=true,disableIconClose=false,showIconClose=false,backPressToClose=false,showSwipeRefreshLayout=false,showMenuRefresh=false,sho

[2017-12-11 14:00] vishalgrg opened #138 "toolbar default title changed"
new FinestWebView.Builder(context).titleDefault(title).statusBarColor(context.getResources().getColor(R.color.colorPrimaryDark))
                    .toolbarColor(context.getResources().getColor(R.color.forbes_bg))
                    .iconDefaultColor(context.getResources().getColor(R.color.white))
                    .titleColor(context.getResources().getColor(R.color.white))

[2017-12-17 12:02] atebsy commented on #84
how can i achieve this?

[2017-12-17 12:03] atebsy commented on #125
has anyone figured this out yet?

[2017-12-18 23:20] atebsy commented on #125
@raj9686 @ismdcf I found a way to work around this:
Add the finestwebview activity to the manifest with the attribute noHistory set to true like this
   <activity
            android:name="com.thefinestartist.finestwebview.FinestWebViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensor"
            android:theme="@style

[2017-12-20 12:58] tayyabahmad commented on #29
did you added the fragment support?

[2017-12-21 08:06] tranan88 opened #139 "How to use this library with Fragment?"
Hello developer,
Can i use this library to load url into Fragment?

[2018-01-01 20:32] Nibot1 commented on #133
???

[2018-01-11 00:22] AnandSingh opened #140 "How to enable the javascript alert"
How can i enable the javascript alert by using the library.

for example, i do normally in a webview to enable the alert

mWebView.getSettings().setJavaScriptEnabled(true);before the line mWebView.setWebChromeClient(new WebChromeClient());

Will appreciate your help in this regard. Thanks

[2018-01-16 10:38] azri92 commented on #105
Having the same issue as well. Was thinking of using [this](https://stackoverflow.com/questions/12740477/how-to-scroll-webview-to-top-in-android) as a workaround but we can't access the webview from the listeners..

[2018-01-18 08:41] makunomark commented on #110
@PonnamKarthik This link seems broken

[2018-01-18 09:43] ponnamkarthik commented on #110
@makunomark

[2018-01-20 12:25] ponnamkarthik commented on #140
you can use

[code]

[2018-01-20 12:28] ponnamkarthik commented on #138
ithink you can use this code

[code]

[2018-01-22 07:02] guncaozo opened #141 "Webview view does not go to top when opened a new link/url"
I have encountered an issue when I have set webViewBuiltInZoomControls**(true)** , the initial webpage opens with content however there is a long blank view inserted as well and I need to scroll through it to get to the page footer. As well I have encountered an issue, that if I open any link from the initial webpage the opened view doesn't start at the top but in the middle. How can I resolve the

[2018-01-23 18:26] aryan-navad opened #142 "Cant use a dropdown in the webview."
The drop down of my website cant be used in the webview as when i scroll down the scroll menu, the page scrolls down.

[2018-02-13 12:49] shimiuh commented on #125
@Override
public void onActivityCreated(Activity activity, Bundle bundle) {
    if (activity instanceof FinestWebViewActivity) {
        mCurrentWebViewActivity = activity;
    }
}
and

    final FinestWebView.Builder builder = new FinestWebView.Builder(getActivity());
    builder.setWebViewListener(new WebViewListener() {
        @Override
        public void onPageStarted(String url) {

[2018-02-19 18:42] iamgauravmishra opened #143 "Please add download listener"

[2018-02-19 18:51] iamgauravmishra commented on #21
Please support with downloadlistener.
I need it.
 Thanks!

[2018-02-26 14:21] vishnyakov-aleks commented on #74
up, i have it same

[2018-02-26 14:26] D330 commented on #74
+1

[2018-03-09 16:07] ertcs commented on #118
Is there any option to use Interstitial or Banner Ad to use with webview? may be on back press or something like that or in footer?

[2018-03-12 19:20] ntpanchal opened #144 "Webview url loading stuck at 90%"
- When i was load url then it was loading but stuck after loading of 90% and than after still it is displaying progress.
- Page is not successfully loaded.
- I have used device Mi A1.

[2018-03-15 02:26] hzw1199 commented on #143
You can try [https://github.com/hzw1199/AwesomeWebView-Android](url), forked from this project, new features added.

[2018-03-15 02:27] hzw1199 commented on #59
You can try [https://github.com/hzw1199/AwesomeWebView-Android](url), forked from this project, new features added.

[2018-03-15 02:27] hzw1199 commented on #87
You can try [https://github.com/hzw1199/AwesomeWebView-Android](url), forked from this project, new features added.

[2018-03-15 02:28] hzw1199 commented on #122
You can try [https://github.com/hzw1199/AwesomeWebView-Android](url), forked from this project, new features added.

[2018-03-15 02:29] hzw1199 commented on #64
You can try [https://github.com/hzw1199/AwesomeWebView-Android](url), forked from this project, new features added.

[2018-03-22 00:45] #57 closed

[2018-03-31 15:49] ghost commented on #4
This still is not fixed. What is going on with this and why have the devleopers not fixed it given it is such a large issue?

[2018-04-02 06:05] mancyzbooni commented on #79
Base.java class which class it is imported from ?

[2018-04-16 09:06] MatthewTrout commented on #105
+1

[2018-04-17 10:11] sennohananto opened #145 "Webview collapsing the web page"
Hallo, i have the site that use full javascript and beautiful CSS. But just show a very small part (see attachment). Am i missing any configuration?

my loader is :
new FinestWebView.Builder(this)
                .webViewJavaScriptEnabled(true)
                .webViewJavaScriptCanOpenWindowsAutomatically(true)
                .webViewSupportZoom(true)
                .webViewAllowContentAccess(tr

[2018-04-25 11:20] pramodkr123 opened #146 "Url is loading perfect in chrome but not in FinestWebView"
Hi,
My URL is showing perfectly in chrome browser but in FinestWebView, URL is not showing properly. It gets cut off half way. Bottom of the web page is not shown.

In FinestWebView
![fineastwebview](https://user-images.githubusercontent.com/37994302/39242678-8a057926-48a8-11e8-9feb-bbcc2f3d3654.png)

In Chrome
![chromebrowser](https://user-images.githubusercontent.com/37994302/39242292-2f8a7d94-4

[2018-05-11 23:35] EvertonSouza opened #147 "FinestWebViewActivity.initializeOptions (FinestWebViewActivity.java:202) Error"
Smartphone: Nexus 4 - android 6.0.1

Caused by java.lang.NullPointerExceptionAttempt to read from field 'java.lang.Integer com.thefinestartist.finestwebview.FinestWebView$Builder.theme' on a null object reference 

com.thefinestartist.finestwebview.FinestWebViewActivity.initializeOptions (FinestWebViewActivity.java:202)
--
  | com.thefinestartist.finestwebview.FinestWebViewActivity.onCreate (Fines

[2018-05-14 09:28] Sauww commented on #136
I've got the same problem.
With breakpoints i found that it was caused by the following line : setContentView(R.layout.activity_main);
But i don't know what to do to correct this..

[2018-05-27 20:02] TheFinestArtist commented on #146
I don't know what url you are using but I am suggesting to enable Javascript. Please reopen this issue when you still have problem after enabling Javascript.

[2018-05-27 20:02] #146 closed

[2018-05-27 20:03] TheFinestArtist commented on #142
Can you provide me your website Url?

[2018-05-27 20:03] TheFinestArtist commented on #144
Can you give me your url?

[2018-05-28 15:06] ntpanchal commented on #144
You can choose any url I was tried with www.google.com but same thing is
happened.

On Mon, May 28, 2018, 1:33 AM Leonardo Taehwan Kim <notifications@github.com>
wrote:

[2018-06-06 15:26] kksal55 commented on #63
@andrewjlow did you solve the problem?

[2018-06-08 17:56] neelkanthjdabhi opened #149 "JS Redirect to id in same page"
Unable to jump to particular div id in HTML page

My Code:
`new FinestWebView.Builder(getActivity())
                        .titleDefault("Maths Tricks")
                        .showSwipeRefreshLayout(false)
                        .toolbarScrollFlags(0)
                        .theme(R.style.WebView)
                        .webViewBuiltInZoomControls(false)
                        .webViewDisp

[2018-06-13 16:55] sajeve opened #150 "Disable YouTube Playback"
After I play the YouTube video and lock the screen then the YouTube continue to play in the background.
Is there any way that I can disable the YouTube playback?

[2018-06-14 23:41] andrewjlow commented on #63
@kksal55 The latest version of the code now supports mailto.

[2018-06-14 23:41] #63 closed

[2018-06-26 09:59] shahidul56 opened #151 "Library don't works with fragment !"
Using `public class PhotoFragment extends Fragment implements View.OnClickListener, View.OnTouchListener {`

How to solve this for implement with fragment?

![untitled](https://user-images.githubusercontent.com/11449967/41904248-b6c51bb0-7959-11e8-938f-38a49c70390d.png)

[2018-07-05 15:06] dverdugo85 opened #152 "Android Oreo not show video!!"
I am testing in emulator with oreo but not  show video of youtube!

[2018-07-05 15:07] dan085 commented on #152
<img width="249" alt="captura de pantalla 2018-07-05 a la s 11 07 23" src="https://user-images.githubusercontent.com/5117517/42331539-a2a37f5a-8043-11e8-88b8-4785828dca9b.png">

[2018-07-07 12:52] shahidkh4n opened #153 "Any way to call `WebViewClient.shouldInterceptRequest()` or set custom webvl view client and override it?"
I've been going through readme section but I couldn't find how to set customer webview client ? I need to intercept request to block certain external javascript.

[2018-07-07 12:54] shahid-tiso commented on #151
Probably try getActivity() instead of this?

[2018-07-09 19:48] kksal55 commented on #63
hi @andrewjlow I want to start instagram from within WebView (deep link)
I can do this with chrome. but I can not do it with FinestWebView
For example intent://instagram.com/_u/ebadgh/#Intent;package=com.instagram.android;scheme=https;end

[2018-07-11 02:37] xeron56 commented on #151
Thanks

[2018-07-11 15:44] inti25 commented on #141
same issue like you :'(

[2018-07-14 21:54] davidsolorzano20 opened #154 "change icon close, by icon arrow back"
change icon close, by icon arrow back

[2018-07-26 06:23] rawghtsteven opened #155 "Multi-language support"
The menu of this webview seems to be only available in English, wish to support more languages!

[2018-08-27 15:32] ChristoferAlexander commented on #154
I also have the same issue can not change close to back, you solved it ?

[2018-08-28 21:25] shanetierney opened #156 "Programmatically close"
How can I programmatically close the modal? Specifically from inside a WebListener.

[2018-08-28 21:59] shanecontinued commented on #125
@shimiuh can you explain this code?

[2018-09-03 15:03] rakeshbaral92 opened #157 "Screen is not showing full."
At the bottom of the layout, some view is not loading. What to do ?

[2018-09-06 02:49] Huu-Thai opened #158 "get aar file"
where I can get aar file of libraby?

[2018-09-06 08:40] #158 closed

[2018-09-14 05:03] rahulr4 opened #159 "Library does not work with Fragments"
Hi,
The builder class always starts an activity.
Is there any other third party you have made which supports fragments as well?
Like return a fragment and i will use it in my activity

[2018-09-20 14:48] kachroudi-Nedra opened #160 "Add header Authorization to Url"
Hi,

how can i add Authorization bearer header to url that i show?

i did this :

  ` String headers = "javascript: var myHeaders = new Headers(); myHeaders.append('Authorization','" + Token + "');";

new FinestWebView.Builder(context)
                .webViewAllowContentAccess(true)
                .webViewJavaScriptEnabled(true)
                .injectJavaScript(headers)
                .show(ur

[2018-11-13 14:03] MathiasBerwig commented on #90
For the ones who like me found this issue expecting to have an answer, here is one approach I discovered:

1. **Override default toolbar height**: add `<dimen name="toolbarHeight">0dp</dimen>` to your `dimens.xml`.

2. **Override `FinestWebViewActivity` class and change visibility of the AppBar**: on `initializeViews()` you can just change `appBar.setVisibility(View.GONE)`.

You should also consid

[2018-11-21 17:00] dverdugo85 opened #161 "issue for segu"
google send this vulnerability problem inside this file:

FinestWebViewActivity$MyWebViewClient->shouldOverrideUrlLoading

and send this link with information!!
https://support.google.com/faqs/answer/9101196?hl=es-419

[2018-12-05 23:49] kksal55 commented on #69
@jonathanrc  did you solve the problem

[2018-12-13 10:39] Cililing commented on #16
Hello! I haven't tried it yet, but it seems to reasonable to set cookies via normal HttpRequest, and set it in CookieManager. As I see the library is based on Android WebView from android.webkit, so, imho it should work - in "normal" web view to set cookies you just set it in cookie manager, and then sync. As it uses android.webkit imho cookies will be set.

[2018-12-16 07:58] ArabAgile opened #162 "Setting WebChromeClient and WebViewClient"
I need to inject cookies and headers in each request. How possible it's using FinestWebView?

Also, I need to do something in `shouldOverrideUrlLoading`, how to achieve this?

[2019-01-29 06:39] mrzasoltani opened #166 "Android resource compilation failed"
when i build my project , get this error!
...\app\build\intermediates\incremental\mergeDebugResources\merged.dir\values\values.xml:3356: error: duplicate value for resource 'attr/layout_anchorGravity' with config ''.

...\app\build\intermediates\incremental\mergeDebugResources\merged.dir\values\values.xml:3356: error: resource previously defined here.

[2019-02-09 01:39] TheMaxCoder opened #167 "How to make the url editable?"
Hi thanks for the great lib, I was wondering how I can make the url editable? I mean once the `FinestWebView` Activity is launched with a default url, how can we let the user enter a new url?

Thanks so much

[2019-02-11 09:40] sukhcha-in commented on #156
Yeah i am also looking for this @TheFinestArtist

[2019-02-20 16:08] hasanmumin commented on #166
use
 implementation ('com.thefinestartist:finestwebview:1.2.7') {
        exclude group: 'com.android.support'
    }

[2019-02-21 08:38] CHRehan opened #168 "App UI Freeze When enabled Proguard rule"
Attempt to remove non-JNI local reference, dumping thread

[2019-04-08 22:36] serkanucar opened #169 "Protocol not found"
new FinestWebView.Builder(getActivity()).showUrl(true).show("www.google.com");

java.net.MalformedURLException: Protocol not found: www.google.com
at java.net.URL.<init>(URL.java:176)
at java.net.URL.<init>(URL.java:125)
at com.thefinestartist.finestwebview.helpers.UrlParser.getHost(UrlParser.java:12)
com.thefinestartist.finestwebview.FinestWebViewActivity.initializeViews(FinestWebViewActivity.jav

[2019-04-09 10:54] Cililing commented on #169
It's not valid URI. You have to specifiy protocol, for example - `https://www.google.com`

[2019-04-09 10:57] Cililing commented on #162
About Cookies - you can do it via CookieManager. For example:

[code]

This code snipped is about loggin user, that's why I make a request before setting cookies. For your purposes it should look fimilar.

[2019-04-15 01:59] jhwsx opened #170 "How to set gradient color to Toolbar?"
I have a graident drawable, which would be the background of Toolbar.
The xml file is:
`<?xml version="1.0" encoding="utf-8"?>
<shape xmlns:android="http://schemas.android.com/apk/res/android" android:shape="rectangle">
    <gradient
        android:angle="135"
        android:startColor="@color/gradient_start_color"
        android:endColor="@color/gradient_end_color"/>
</shape>`
But I cannot fin

[2019-04-24 08:34] Cililing commented on #31
Same here. No way to make custom WebViewClient... :/

[2019-04-30 20:00] MarkyC opened #171 "WebView doesn't snap to anchor tags"
When clicking a page that uses anchors (hashes) for navigation, the loading indicator shows, but nothing happens and the webview doensn't snap to the proper location.

For example, say I load https://boozer.delivery/faq and click _How does Boozer work?_, this text contains an anchor to https://boozer.delivery/faq#how-does-boozer-work . Clicking the text on the page should snap the browser to the d

[2019-05-15 08:37] dtunctuncer opened #172 "ANTLR Tool version 4.5.3 used for code generation does not match the current runtime version 4.7.1 ANTLR Runtime version 4.5.3"
`ANTLR Tool version 4.5.3 used for code generation does not match the current runtime version 4.7.1ANTLR Runtime version 4.5.3` Please update the dependencies

[2019-05-31 09:25] #118 closed

[2019-06-03 12:28] masithedeveloper commented on #153
Has anyone figured this out?

[2019-06-12 03:17] jhwsx opened #173 "android.content.res.Resources$NotFoundException"
## Model: huawei-p7,GI-19500
## OS version：5.1.1
## androidx：yes
## Log：
[code]

[2019-07-06 18:01] IreshMM commented on #31
Up voting for the request.

[2019-07-18 10:58] shiv71 opened #174 "How to get onActivityResult result"
How to get onActivityResult result form FinestWebViewActivity when activity cancel or back.
I want onActivityResult call back when i cancel or back form FinestWebViewActivity.

[2019-07-23 07:19] RohitK1992 opened #175 "Cannot find symbol com.thefinestartist.Base"
I am using
implementation 'com.thefinestartist:finestwebview:1.2.7' since a very long time , but after changing the gradle version to com.android.tools.build:gradle:3.4.2  I am getting the following error.

AppController.java:37: error: cannot find symbol
import com.thefinestartist.Base;
                          ^
  symbol:   class Base
  location: package com.thefinestartist

distributionUrl=htt

[2019-08-03 08:17] jhwsx commented on #173
The reason is that I use `MaterialComponents `theme, which use this dependency:
[code]
After I changed to stable version:
[code]
The above error is gone, so this issue is not related to this great repository, it's my own fault.

[2019-08-03 08:17] #173 closed

[2019-08-14 06:18] AnjaniJoshi opened #176 "Facing issue when i migrate my code with androidX"

[2019-08-14 06:18] AnjaniJoshi commented on #176
* What went wrong:
Could not resolve all files for configuration ':FinestWebview:debugAnnotationProcessorClasspath'.

[2019-08-18 07:23] varunam opened #177 "Google Translator URL doens't open on this webview but opens on chrome"
I am trying to open Google Translator url on this webview but it isn't working. It works fine on Google Chrome. Trying to open below url.
"https://translate.google.com/#en/kn/hello"

Please check this issue.

[2019-09-04 14:35] kksal55 commented on #118
Have you done the Admob settlement?

[2019-09-04 14:37] kksal55 commented on #118
Have you done the Admob settlement?

[2019-09-09 12:11] pankaj-dunow opened #178 "How to do a form post using FinestWebView?"
I want to post some data to the url I am calling using FinestWebView. Basically, I want to achieve something like this which is achieved using simple WebView:

        WebView webview = new WebView(this);
        setContentView(webview);
        String url = "http://myUrl"; // The url to which data will be posted
        String postData = "myKeyValuePair"; //The key-value pair of data being posted

[2019-09-16 10:07] seyyedmojtaba72 commented on #103
You have to create your custom classes that extend FinestWebView classes. You're welcome to use mine:

[code]
[code]

Usage:
[code]

[2019-10-10 10:04] HaneetGH commented on #114
any solution for this?

[2019-10-18 07:24] TariqMahmd opened #179 "Empty Spaces After Scrolling"
My site is working perfect on google chrome or any other browser. But it shows white screen/spaces if one screen is big and having scrolling data and other one is not.
If I reload application it shows double white screens. I enabled javascript already but I am facing still same problem.

[2019-11-06 06:56] Nikhil-z commented on #179
I'm also facing same issue. Have you found any sollution ?

[2019-11-07 01:49] obirawa commented on #175
any luck with this?

[2019-11-07 06:37] RohitK1992 commented on #175
I did find a way around, check if this help.

Changes in project level  gradle :
classpath 'com.android.tools.build:gradle:3.3.0'
(Instead of com.android.tools.build:gradle:3.4.2)

Changes in gradle-wrapper.properties :
distributionUrl=https\://services.gradle.org/distributions/gradle-4.10.1-all.zip
(Instead of distributionUrl=https://services.gradle.org/distributions/gradle-5.1.1-all.zip)

[2019-11-25 07:56] deepakkumardk commented on #90
For me just overriding the **toolbarHeight** to 0dp in dimens.xml works fine.

[2019-12-05 13:07] orcunkobal opened #180 "Not secure URLs are doesn't open"
If I want to open like;
 -> **http**://www.google.com ( The URL open )

If I want to open like;
 -> **https**://www.google.com ( The URL not open )

Have you any idea?

[2019-12-25 09:35] #180 closed

[2020-01-06 05:57] RahilRK opened #181 "Scrollup causes refresh(reload) page"
I had open a page and itz long vertically and when i scroll down it works fine, but when I scrollup it refresh(reload) my whole page.

//here is my code

new FinestWebView.Builder(MainActivity.this)
                .webViewUseWideViewPort(true)
                .webViewAllowContentAccess(true)
                .webViewSupportZoom(true)
                .webViewJavaScriptEnabled(true)

[2020-01-08 07:11] nurujjamanpollob commented on #181
I personally recommend remove swipe refresh as it cause problem.

For further assistant, contact me at this mail nurujjamanpollob@gmail.com and i also i am making a new android oroject that not released in github, i plan do more work and submit it!

[2020-01-30 23:41] dverdugo85 opened #182 "change library to kotlin!!"
Hello have any plan to change the code to kotlin!! regards!!

[2020-02-20 06:43] bazantariq commented on #179
No I have not found this.

[2020-02-24 18:41] romellfudi opened #183 "doesn't support colab.research.google.com"
Is there any reason why doesn't work well the colab.research.google.com website with FinestWebView?

- At first the site is collapsed and just show only one line.
- if you refresh or be signed, the website only show around half, and it's impossible to scroll with different configurations

[2020-03-18 09:18] gistdoit commented on #79
@mancyzbooni https://github.com/TheFinestArtist/AndroidBaseUtils

[2020-04-24 04:07] niraj-prajapati commented on #136
I think they are no more maintaining this library, I'm also facing the same issue.

[2020-05-10 00:06] Serkan-Karacelikler opened #184 "Disable Popup Pages"
Can I disable the opening of Hello popup pages?

[2020-05-18 09:51] jimlyas commented on #146
this issue is still valid, and i'm currently had the same issue @TheFinestArtist

[2020-08-05 14:11] romellfudi commented on #145
@sennohananto  did you solve it?

[2020-08-13 12:12] azizur-rehman commented on #114
Having the same issue unexpectedly, it was working before though. Any update on this?

[2020-08-19 16:20] mahdisarlakir opened #185 "authorization bearer JS"
hello
how can set authorization header ?!

[2020-09-03 14:14] ihssenedr commented on #114
any solution ?

[2020-09-05 10:41] RakeshRav opened #186 "I getting Error "Failed to validate the certificate chain, error: java.security.cert.CertPathValidatorException: Trust anchor for certification path not found.""
I getting Error "Failed to validate the certificate chain, error: java.security.cert.CertPathValidatorException: Trust anchor for certification path not found."

I need to set onReceivedSslError in WebviewClient

Is there any way to do that

[2020-09-21 03:23] gintechsystems commented on #156
I implemented some code to allow us to programmatically close the activity. You can do Builder.close()

Kotlin Example:
[code]

`implementation 'com.github.gintechsystems:FinestWebView-Android:1.2.7'`

[2020-09-21 03:24] gintechsystems commented on #125
I implemented some code to allow us to programmatically close the activity. You can do Builder.close()

Kotlin Example:
[code]

`implementation 'com.github.gintechsystems:FinestWebView-Android:1.2.7'`

[2020-11-14 18:46] yaziedda commented on #186
I fond the same error, how t you fix it?

[2020-11-24 09:18] iospoisson opened #187 "How to enable java"
Please forgive my but how to enable java ?Thanks

[2020-11-24 09:19] iospoisson commented on #179
How did you enable java ?Thanks

[2021-03-22 07:19] shubhangi-mane commented on #122
Any solution to this ?
I am facing the same issue

[2021-05-19 01:43] #183 closed

[2021-06-20 01:03] TheFinestArtist commented on #182
LoL :)

[2021-06-20 05:45] TheFinestArtist commented on #184
@Serkan-Karacelikler Can you please elaborate what Hello popup pages are?
Please feel free to reopen this issue :)

[2021-06-20 05:45] #184 closed

[2021-06-20 05:46] TheFinestArtist commented on #187
I don't get what you want to do.

[2021-06-20 05:46] #187 closed

[2021-12-10 14:27] miladv33 opened #192 "show URL with requireActivity() not working"
when I tried to open an URL with `requireActivity()`, nothing happened. but `requireContext()` worked.
this issue happened in Samsung SM_G950FD

[2022-01-23 06:46] NSTAdventure opened #193 "[Feature Request] custom theme"
Problem:
I want to use custom theme in this app but i have 0% knowledge so i can't modify app code

Solution:
Please add feature that allow user using custom color
[color will picked using color hex code or any color picker]

Alternative:
No alternative sadly

[2022-03-01 03:13] SwiftyWang opened #194 "jcenter is deprecated, Please move to mavenCentral"
This is a cool library.  But now Jcenter is deprecated. Hope can move to mavenCentral

[2022-05-18 11:46] umerharris commented on #194
Hey Team,
any update on this?